.search-result-div {
  width: 400px;
  height: 300px;
  position: fixed;
  left: 100px;
  top: 15px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
  background-color: #fff;
  border-radius: 10px;
  z-index: 5000;
}

.search-result-grid {
  height: 100%;
  direction: rtl;
  overflow: unset;
}

.search-result-table {
  display: grid;
  grid-template-columns: 1fr 1fr 80%;
  max-width: 480px;
}

.search-result-body {
  background-color: #fff;
}

.search-result-item {
  display: flex;
  align-items: center;
  height: 30px;
}
